.bookmark-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
  }
}

.headline {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom:3rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;
  }
}

.search {
  display: flex;
  border: 1px solid #b3aeae;
  border-radius: .7rem;
  position: relative;

  input {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    min-height: 4rem;
    padding: 0 2rem;
    height: 100%;
    border: none;
    background: none;
  }

  .icon {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    color: #b3aeae;
    transition: .2s;

    svg {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 1rem;
    }
  }

  input:focus + .icon {
    opacity: 0;
    visibility: hidden;
  }
}



.title {
  display: flex;
  align-items: baseline;

  span {
    margin-left: 1rem;
    color: #b3aeae;
  }

  h1 {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 1rem;
  }
}

.empty-list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20rem;
  font-size: 3.2rem;
  color: #b3aeae;

  @media screen and (max-width: 768px) {
    font-size: 2.2rem;
  }
}
